<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Mars" sequenceNumber="1467284309">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.5.2.v20160212-1500"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.300.v20150430-1836"/>
      <unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.6.201.v201512010225"/>
      <unit id="org.eclipse.emf.feature.group" version="2.11.2.v20160208-0841"/>
      <unit id="org.eclipse.pde.feature.group" version="3.11.2.v20160212-1500"/>
      <unit id="org.eclipse.jdt" version="3.11.2.v20160212-1500"/>
      <repository id="eclipse-mars" location="http://download.eclipse.org/releases/mars/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="2.7.0.I201604140914"/>
      <repository id="ease-engines" location="https://bintray.com/artifact/download/pontesegger/ease-engines/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito" version="1.9.5.v201311280930"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <repository id="eclipse-orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.py4j.feature.feature.group" version="0.10.2.1-bnd-ATsnw"/>
      <repository id="py4j-eclipse" location="https://dl.bintray.com/py4j/py4j-eclipse/0.10.2.1/"/>
    </location>
  </locations>
</target>
