<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="ISO-8859-1"
            file-extensions="scala"
            id="org.eclipse.ease.lang.scala.content-type"
            name="Scala Source File"
            priority="low">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="ISO-8859-1"
            file-extensions="java"
            id="org.eclipse.ease.lang.java.content-type"
            name="Java Source File"
            priority="low">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ease.scriptType">
      <scriptType
            codeParser="org.eclipse.ease.lang.jvm.compiled.JVMCompiledHeaderParser"
            defaultExtension="java"
            name="Java">
         <binding
               contentType="javaSource">
         </binding>
      </scriptType>
      <scriptType
            codeParser="org.eclipse.ease.lang.jvm.compiled.JVMCompiledHeaderParser"
            defaultExtension="scala"
            name="Scala">
         <binding
               contentType="scala.tools.eclipse.scalaSource">
         </binding>
      </scriptType>
      <scriptType
            codeParser="org.eclipse.ease.lang.jvm.compiled.JVMCompiledHeaderParser"
            defaultExtension="xtend"
            name="Xtend">
         <binding
               contentType="javaSource">
         </binding>
      </scriptType>
   </extension>
   <extension
         point="org.eclipse.ease.language">
      <engine
            class="org.eclipse.ease.lang.jvm.compiled.JVMCompiledScriptEngine"
            debugger="false"
            id="org.eclipse.ease.jvm.compiled"
            name="JVM"
            priority="20">
         <binding
               scriptType="Java">
         </binding>
         <binding
               scriptType="Scala">
         </binding>
         <binding
               scriptType="Xtend">
         </binding>
      </engine>
   </extension>
</plugin>
