<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeCompletionProvider" name="CodeCompletionProvider" schema="schema/codeCompletionProvider.exsd"/>
   <extension-point id="shell" name="Shell" schema="schema/shell.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.ease.ui.views.category.scripting"
            class="org.eclipse.ease.ui.view.ScriptShell"
            icon="icons/eview16/script_shell.png"
            id="org.eclipse.ease.ui.views.scriptShell"
            name="Script Shell"
            restorable="true">
      </view>
      <category
            id="org.eclipse.ease.ui.views.category.scripting"
            name="Scripting">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.ease.ui.views.category.scripting"
            class="org.eclipse.ease.ui.view.ModuleExplorerView"
            icon="icons/eview16/modules_explorer.png"
            id="org.eclipse.ease.ui.views.modulesExplorer"
            name="Modules Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ease.commands.category.scriptShell"
            name="Script Shell">
      </category>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            defaultHandler="org.eclipse.ease.ui.handler.ClearDisplay"
            id="org.eclipse.ease.commands.scriptShell.clearDisplay"
            name="Clear Display">
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            description="Terminate Current Script"
            id="org.eclipse.ease.commands.scriptShell.stop"
            name="Abort script execution">
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            defaultHandler="org.eclipse.ease.ui.handler.Reset"
            id="org.eclipse.ease.commands.scriptShell.reset"
            name="Reset Engine">
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            defaultHandler="org.eclipse.ease.ui.handler.SwitchEngine"
            id="org.eclipse.ease.commands.scriptShell.switchEngine"
            name="Switch Script Engine">
         <commandParameter
               id="org.eclipse.ease.commands.scriptShell.switchEngine.id"
               name="Script engine ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            defaultHandler="org.eclipse.ease.ui.handler.SpawnShell"
            id="org.eclipse.ease.commands.scriptShell.newShell"
            name="Spawn new shell">
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            defaultHandler="org.eclipse.ease.ui.handler.LoadModule"
            id="org.eclipse.ease.commands.scriptShell.loadModule"
            name="Load Module">
         <commandParameter
               id="org.eclipse.ease.commands.scriptShell.loadModule.moduleID"
               name="Module ID"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            defaultHandler="org.eclipse.ease.ui.handler.ToggleDropinsSection"
            id="org.eclipse.ease.commands.script.toggleDropinsSection"
            name="Toggle Dropins Section">
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.scriptShell"
            defaultHandler="org.eclipse.ease.ui.handler.OpenScriptHelp"
            id="org.eclipse.ease.commands.scriptShell.openScriptHelp"
            name="Open Script Help">
      </command>
      <command
            defaultHandler="org.eclipse.ease.ui.handler.PerformSignature"
            id="org.eclipse.ease.commands.sign.contextMenu"
            name="Perform Signature...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ease.commands.category.ModulesExplorer"
            defaultHandler="org.eclipse.ease.ui.handler.OpenHelp"
            id="org.eclipse.ease.commands.ModulesExplorer.openHelp"
            name="Open Help">
      </command>
      <category
            id="org.eclipse.ease.commands.category.ModulesExplorer"
            name="Modules Explorer">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ease.ui.handler.StopScriptExecution"
            commandId="org.eclipse.ease.commands.scriptShell.stop">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ease.ui.views.scriptShell">
         <separator
               name="top"
               visible="false">
         </separator>
         <command
               commandId="org.eclipse.ease.commands.scriptShell.loadModule"
               icon="icons/elcl16/modules.png"
               id="org.eclipse.ease.commands.scriptShell.loadModule.popup"
               label="Load Module"
               style="pulldown"
               tooltip="Load an external module">
         </command>
         <command
               commandId="org.eclipse.ease.commands.scriptShell.clearDisplay"
               icon="icons/elcl16/erase.png"
               label="Clear Display"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ease.commands.script.toggleDropinsSection"
               icon="icons/elcl16/dropins_pane.png"
               label="Toggle Dropins Section"
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ease.commands.scriptShell.switchEngine"
               icon="icons/elcl16/engines.png"
               id="org.eclipse.ease.commands.scriptShell.switchEngine.popup"
               label="Switch engine"
               style="pulldown">
         </command>
         <command
               commandId="org.eclipse.ease.commands.scriptShell.reset"
               icon="icons/elcl16/reset.png"
               label="Reset"
               style="push"
               tooltip="Reset Script Engine">
         </command>
         <command
               commandId="org.eclipse.ease.commands.scriptShell.newShell"
               icon="icons/elcl16/new_shell.png"
               id="org.eclipse.ease.commands.scriptShell.newShell.popup"
               label="New shell"
               style="push">
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
         <command
               commandId="org.eclipse.ease.commands.scriptShell.openScriptHelp"
               icon="icons/eobj16/help.png"
               label="Open Script Help"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ease.commands.scriptShell.loadModule.popup">
         <dynamic
               class="org.eclipse.ease.ui.modules.ui.ModuleContributionFactory"
               id="org.eclipse.ease.ui.dynamic.modules">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ease.commands.scriptShell.switchEngine.popup">
         <dynamic
               class="org.eclipse.ease.ui.view.EngineContributionFactory"
               id="org.eclipse.ease.ui.dynamic.engines">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ease.ui.views.modulesExplorer">
         <separator
               name="top"
               visible="false">
         </separator>
         <command
               commandId="org.eclipse.ease.commands.ModulesExplorer.openHelp"
               icon="icons/eobj16/help.png"
               label="open help"
               style="push">
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.ease.commands.sign.contextMenu"
               label="Perform Signature..."
               mnemonic="P"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="org.eclipse.ease.ui.sign.definition.testType">
                        </reference>
                     </iterate>
                  </with>
                  <and>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <reference
                              definitionId="org.eclipse.ease.ui.sign.definition.testType">
                        </reference>
                     </with>
                  </and>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.ease.ui.propertytester.ScriptEnginePropertyTester"
            id="org.eclipse.ease.propertyTester.scriptEngineID"
            namespace="org.eclipse.ease.ui"
            properties="engineID"
            type="org.eclipse.ui.IViewPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.ease.ui.console.ScriptConsolePageParticipant"
            id="org.eclipse.ease.ui.consolePageParticipant">
         <enablement>
            <instanceof
                  value="org.eclipse.ease.ui.console.ScriptConsole">
            </instanceof>
         </enablement>
      </consolePageParticipant>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ease.preferences.root"
            class="org.eclipse.ease.ui.preferences.ModulesPage"
            id="org.eclipse.ease.preferences.modules"
            name="Modules">
      </page>
      <page
            class="org.eclipse.ease.ui.preferences.ScriptingPage"
            id="org.eclipse.ease.preferences.root"
            name="Scripting">
      </page>
      <page
            category="org.eclipse.ease.preferences.root"
            class="org.eclipse.ease.ui.preferences.ShellPreferencePage"
            id="org.eclipse.ease.preferences.scriptShell"
            name="Shell">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.ease.launchConfigurationType"
            icon="icons/eobj16/script.png"
            id="org.eclipse.ease.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.ease.ui.launching.EaseLaunchDelegate"
            description="Run a script file"
            icon="icons/eobj16/script.png"
            id="org.eclipse.ease.launchShortcut"
            label="EASE Script"
            modes="run">
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.ease.ui.hasEngine">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.eclipse.ease.ui.launching.EaseLaunchDelegate"
            description="Run a script file"
            icon="icons/eobj16/script.png"
            id="org.eclipse.ease.launchShortcut"
            label="EASE Script"
            modes="debug">
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.ease.ui.hasDebugEngine">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.ease.ui.launching.EaseLaunchDelegate"
            id="org.eclipse.ease.launchConfigurationType"
            modes="run,debug"
            name="EASE Script"
            sourceLocatorId="org.eclipse.ease.sourceLocator.generic">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.ease.ui.launching.LaunchConfigurationTabGroup"
            id="org.eclipse.ease.launchConfigurationTabGroup"
            type="org.eclipse.ease.launchConfigurationType">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.ease.ui.propertytester.EngineTester"
            id="org.eclipse.ease.scripting"
            namespace="org.eclipse.ease.ui"
            properties="hasEngine,hasDebugEngine"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ease.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ease.ui.perspectives.ScriptingPerspective"
            icon="icons/eobj16/script.png"
            id="org.eclipse.ease.ui.perspectives.ScriptingPerspective"
            name="Scripting">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ease.ui.perspectives.ScriptingPerspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.ease.newWizard.category"
            name="Scripting">
      </category>
   </extension>
   <extension
         point="org.eclipse.ease.ui.shell">
      <dropin
            class="org.eclipse.ease.ui.view.VariablesDropin"
            priority="10">
      </dropin>
      <dropHandler
            class="org.eclipse.ease.ui.dnd.ResourceDropHandler"
            priority="10">
      </dropHandler>
      <dropHandler
            class="org.eclipse.ease.ui.dnd.ModulesDropHandler"></dropHandler>
      <dropHandler
            class="org.eclipse.ease.ui.dnd.JarDropHandler"></dropHandler>
      <dropin
            class="org.eclipse.ease.ui.view.ModuleStackDropin"
            priority="-1">
      </dropin>
   </extension>
   <extension
         point="org.eclipse.ease.ui.codeCompletionProvider">
      <codeCompletionProvider
            class="org.eclipse.ease.ui.completion.provider.LoadedModuleCompletionProvider">
      </codeCompletionProvider>
      <codeCompletionProvider
            class="org.eclipse.ease.ui.completion.provider.VariablesCompletionProvider">
      </codeCompletionProvider>
      <codeCompletionProvider
            class="org.eclipse.ease.ui.completion.provider.EnvironmentLocationCompletionProvider">
      </codeCompletionProvider>
      <codeCompletionProvider
            class="org.eclipse.ease.ui.completion.provider.LoadModuleCompletionProvider">
      </codeCompletionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="CONSOLE_INPUT_COLOR"
            label="Console input text color"
            value="50,200,50">
         <description>
            %Color.errorTextDesc
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="CONSOLE_INPUT_COLOR"
            label="Console input text color"
            value="COLOR_RED">
         <description>
            %Color.errorTextDesc
         </description>
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.ease.ui.sign.definition.testType">
         <adapt
               type="org.eclipse.core.resources.IFile">
            <or>
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.py">
               </test>
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.js">
               </test>
            </or>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.ease.export"
            name="Scripting">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.ease.ui.presentation"
            label="%easePresentation.label">
      </themeElementCategory>
      <fontDefinition
            categoryId="org.eclipse.ease.ui.presentation"
            id="org.eclipse.ease.ui.moduledocfont"
            label="%moduledocDisplayFontDefiniton.label">
         <description>
            %moduledocDisplayFontDefiniton.description
         </description>
      </fontDefinition>
   </extension>
</plugin>
