<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.ease.modules">
      <module
            category="org.eclipse.ease.modules.category.modeling"
            class="org.eclipse.ease.integration.modeling.uml.modules.UMLModule"
            id="org.eclipse.ease.integration.modeling.uml.umlmodule"
            name="UMLModule"
            visible="true">
         <dependency
               module="org.eclipse.ease.module.platform.ui">
         </dependency>
      </module>
   </extension>

</plugin>
