<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.language">
      <engine
            class="org.eclipse.ease.lang.javascript.rhino.debugger.RhinoDebuggerEngine"
            id="org.eclipse.ease.javascript.rhinoDebugger"
            name="JavaScript (Rhino Debugger)"
            priority="1">
         <binding
               scriptType="JavaScript">
         </binding>
      </engine>
      <moduleWrapper
            class="org.eclipse.ease.lang.javascript.JavaScriptModuleWrapper"
            engineID="org.eclipse.ease.javascript.rhinoDebugger">
      </moduleWrapper>
      <launchExtension
            class="org.eclipse.ease.modules.BootStrapper"
            engineID="org.eclipse.ease.javascript.rhinoDebugger">
      </launchExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.ease.lang.javascript.rhino.debugger.model.RhinoDebugModelPresentation"
            id="org.eclipse.ease.debugModelPresentation.rhino">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="variableViewActions"
            targetID="org.eclipse.debug.ui.VariableView">
         <menu
               id="org.eclipse.ease.debug.ui.variableview.menu"
               label="EASE">
            <groupMarker
                  name="ease">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.ease.lang.javascript.rhino.debugger.actions.FunctionFilterAction"
               helpContextId="show_functions_variable_help_context"
               id="org.eclipse.ease.ui.variableview.show.functions"
               label="Show functions"
               menubarPath="org.eclipse.ease.debug.ui.variableview.menu/ease"
               state="false"
               style="toggle"
               tooltip="Tooltip text">
         </action>
         <action
               class="org.eclipse.ease.lang.javascript.rhino.debugger.actions.ModuleFilterAction"
               helpContextId="show_functions_variable_help_context"
               id="org.eclipse.ease.ui.variableview.show.modules"
               label="Show modules"
               menubarPath="org.eclipse.ease.debug.ui.variableview.menu/ease"
               state="false"
               style="toggle"
               tooltip="Tooltip text">
         </action>
      </viewContribution>
   </extension>

</plugin>
