<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
   id="EASE_JS_Proposals"
   name="EASE JavaScript Proposals">
   <javaCompletionProposalComputer
      class="org.eclipse.ease.lang.javascript.ui.completion.JavaScriptEditorCompletionComputer"
      categoryId="org.eclipse.ease.lang.javascript.ui.javascript_proposals"
      activate="true">
   </javaCompletionProposalComputer>
   <proposalCategory></proposalCategory>
 </extension>
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="org.eclipse.ease.lang.javascript.ui.ResourceHyperlinkDetector"
          description="Links to included files"
          id="org.eclipse.ease.lang.javascript.ui.includeHyperlinkDetector"
          name="Include Files"
          targetId="org.eclipse.wst.jsdt.ui.javaCode">
    </hyperlinkDetector>
 </extension>

</plugin>
