<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="keyword" name="Keyword" schema="schema/keyword.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ScriptRepository -->
      <package
            uri="repository"
            class="org.eclipse.ease.ui.scripts.repository.IRepositoryPackage"
            genModel="model/ScriptRepository.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ScriptRepository -->
      <parser
            type="repository"
            class="org.eclipse.ease.ui.scripts.repository.util.RepositoryResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ease.ui.views.category.scripting"
            class="org.eclipse.ease.ui.scripts.view.ScriptExplorerView"
            icon="icons/eview16/script_explorer.png"
            id="org.eclipse.ease.ui.views.scriptExplorerView"
            name="Script Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ease.ui.perspectives.ScriptingPerspective">
         <view
               id="org.eclipse.ease.ui.views.scriptExplorerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ease.ui.views.scriptExplorerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ease.commands.category.script"
            name="Script">
      </category>
      <command
            categoryId="org.eclipse.ease.commands.category.script"
            defaultHandler="org.eclipse.ease.ui.scripts.handler.RunScript"
            id="org.eclipse.ease.commands.script.run"
            name="Run Script">
         <commandParameter
               id="org.eclipse.ease.commands.script.run.name"
               name="Script Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.script"
            defaultHandler="org.eclipse.ease.ui.scripts.handler.ToggleScriptRecording"
            id="org.eclipse.ease.commands.script.toggleScriptRecording"
            name="Toggle Script Recording">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="STYLE">
         </state>
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.script"
            defaultHandler="org.eclipse.ease.ui.scripts.handler.RenameScript"
            id="org.eclipse.ease.commands.script.rename"
            name="Rename Script">
         <commandParameter
               id="org.eclipse.ease.commands.script.rename.name"
               name="Script Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.script"
            defaultHandler="org.eclipse.ease.ui.scripts.handler.EditScript"
            id="org.eclipse.ease.commands.script.edit"
            name="Edit Script">
         <commandParameter
               id="org.eclipse.ease.commands.script.edit.name"
               name="Script Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.script"
            defaultHandler="org.eclipse.ease.ui.scripts.handler.RefreshRepository"
            id="org.eclipse.ease.commands.script.refreshRepository"
            name="Refresh Repository">
      </command>
      <command
            categoryId="org.eclipse.ease.commands.category.script"
            defaultHandler="org.eclipse.ease.ui.scripts.handler.CreateUserKeyword"
            description="Create a new user keyword"
            id="org.eclipse.ease.commands.script.addKeyword"
            name="Add Keyword">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ease.ui.views.scriptExplorerView">
         <separator
               name="top"
               visible="false">
         </separator>
         <command
               commandId="org.eclipse.ease.commands.script.run"
               icon="icons/elcl16/run_script.png"
               label="Run"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ease.commands.script.edit"
               icon="icons/elcl16/edit_script.png"
               label="Edit"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ease.commands.script.refreshRepository"
               icon="platform:/plugin/org.eclipse.ease.ui/icons/elcl16/refresh.png"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ease.ui.views.scriptShell?after=additions">
         <command
               commandId="org.eclipse.ease.commands.script.toggleScriptRecording"
               icon="icons/elcl16/start_script_recording.png"
               label="Toggle Script Recording"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ease.scripts.properties.allKeywords">
         <command
               commandId="org.eclipse.ease.commands.script.addKeyword"
               icon="icons/elcl16/new_keyword.png"
               label="Add Keyword..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ease.ui.shell">
      <dropin
            class="org.eclipse.ease.ui.scripts.view.ScriptDropin"
            priority="20">
      </dropin>
      <dropHandler
            class="org.eclipse.ease.ui.scripts.ui.ScriptDropHandler">
      </dropHandler>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.ease.ui.scripts.repository.impl.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ease.ui.scripts.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ease.preferences.root"
            class="org.eclipse.ease.ui.scripts.preferences.LocationsPage"
            id="org.eclipse.ease.preferences.scriptLocations"
            name="Script Locations">
      </page>
      <page
            category="org.eclipse.ease.preferences.root"
            class="org.eclipse.ease.ui.scripts.preferences.SignaturePreferencePage"
            id="org.eclipse.ease.preferences.signature"
            name="Signature Properties">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.eclipse.ease.ui.scripts.repository.impl.RepositoryServiceFactory">
         <service
               serviceClass="org.eclipse.ease.ui.scripts.repository.IRepositoryService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
      <urlStreamHandlerService
            protocol="script"
            serviceClass="org.eclipse.ease.ui.scripts.ScriptURLStreamHandler">
      </urlStreamHandlerService>
   </extension>
   <extension
         point="org.eclipse.ease.ui.scripts.keyword">
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.ToolbarHandler"
            description="Adds scripts to view toolbars. Keyword syntax: viewID;viewID|name;viewTitle;viewTitle|name"
            id="org.eclipse.ease.ui.scripts.handler.toolbar"
            keywords="toolbar"
            name="Toolbar Additions">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.MenuHandler"
            description="Adds scripts to view menus. Keyword syntax: viewID;viewID|name;viewTitle;viewTitle|name"
            id="org.eclipse.ease.ui.scripts.handler.menu"
            keywords="menu"
            name="Menu Additions">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.PopupHandler"
            description="Adds scripts to popup menus. Keyword syntax: viewID;viewID|name;viewTitle;viewTitle|name"
            id="org.eclipse.ease.ui.scripts.handler.popup"
            keywords="popup"
            name="Popup Additions">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.StartupHandler"
            description="Run scripts on Eclipse startup. Provide an integer parameter to denote an execution delay in seconds."
            id="org.eclipse.ease.ui.scripts.handler.startup"
            keywords="onStartup"
            name="Eclipse Startup">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.ShutdownHandler"
            description="Runs scripts on Eclipse shutdown. Provide an integer parameter to denote maximum execution time in secods (defaults to 10s). Do not run UI code in shutdown scripts, it would lock up your application!"
            id="org.eclipse.ease.ui.scripts.handler.shutdown"
            keywords="onShutdown"
            name="Eclipse Shutdown">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.SaveEditorHandler"
            description="Run scripts when an editor is saved. Accepts a file pattern for files to listen to. either use simple * wildcards or use a regular expression by starting your pattern with ^."
            id="org.eclipse.ease.ui.scripts.handler.editorSave"
            keywords="onSave"
            name="Save Editor">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.EventBusHandler"
            description="Run scripts when a specific event is posted on the OSGI message bus. Accepts a channel identifier for broker subscription (* wildcards may be used). The event will be passed to the script as variable &apos;event&apos;."
            id="org.eclipse.ease.ui.scripts.handler.brokerEvent"
            keywords="onEventBus"
            name="Event Bus">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.ResourceChangeHandler"
            description="Run scripts when a workspace resource changes. Accepts a file pattern for files to listen to. Either use simple * wildcards or use a regular expression by starting your pattern with ^. The first parameter passed to the script is the affected file, the 2nd parameter denotes the type of change."
            id="org.eclipse.ease.ui.scripts.handler.resourceChange"
            keywords="onResourceChange"
            name="Resource Change">
      </handler>
      <handler
            class="org.eclipse.ease.ui.scripts.keywordhandler.KeyHandler"
            description="Binds a script to a keyboard shortcut. Syntax for keyboard mappings is the same as in the &apos;Keys&apos; preferences page."
            id="org.eclipse.ease.ui.scripts.handler.keyboard"
            keywords="keyboard"
            name="Key Shortcut">
      </handler>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.eclipse.ease.ui.scripts.touchpoints.AddScriptLocationTouchpoint"
            name="addScriptLocation"
            touchpointType="org.eclipse.equinox.p2.native"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.ease.ui.scripts.ui.Decorator"
            id="org.eclipse.ease.ui.scripts.decorator.signatureState"
            label="Signature State"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.ease.ui.scripts.repository.IScript">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
     <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ease.ui.views.scriptExplorerView">
         <propertyCategory
               category="org.eclipse.ease.properties.scripts"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ease.ui.views.scriptExplorerView">
         <propertyTab
               category="org.eclipse.ease.properties.scripts"
               id="org.eclipse.ease.ui.scripts.propertyTab.uiintegration"
               image="icons/eobj16/script_ui_integration.png"
               label="UI Integration">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.ease.ui.scripts.propertyTab.uiintegration"
               category="org.eclipse.ease.properties.scripts"
               id="org.eclipse.ease.ui.scripts.propertyTab.allkeywords"
               image="icons/eobj16/script_keywords.png"
               label="All Keywords">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ease.ui.views.scriptExplorerView">
         <propertySection
               class="org.eclipse.ease.ui.scripts.properties.ScriptUIIntegrationSection"
               id="org.eclipse.ease.ui.scripts.propertySectionGlobal"
               tab="org.eclipse.ease.ui.scripts.propertyTab.uiintegration">
            <input
                  type="org.eclipse.ease.ui.scripts.repository.IScript">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ease.ui.scripts.properties.AllKeywordsSection"
               id="org.eclipse.ease.ui.scripts.propertySectionAllKeywords"
               tab="org.eclipse.ease.ui.scripts.propertyTab.allkeywords">
            <input
                  type="org.eclipse.ease.ui.scripts.repository.IScript">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ease.ui.scripts.properties.TestView"
            id="org.eclipse.ease.ui.scripts.view1"
            name="TestView"
            restorable="true">
      </view>
   </extension>
</plugin>
